{%- assign brand_items = shop.metafields.custom.menu_de_marcas.value -%}

{%- if brand_items and shop.metafields.custom.menu_de_marcas.list? -%}
<div class="brand-nav-wrapper">
  
  <div class="brand-nav-text">
    Explora nuestras marcas
  </div>

  <ul class="brand-nav-list" role="list">
    {% for item in section.blocks %}
      {% assign brand_link = item.settings.link %}
      
      <li class="brand-selector__item">
        <a
          href="{{ brand_link }}"
          class="brand-selector__link"
          aria-label="Ir a {{ item.settings.titulo }}"
        >
          {% if item.settings.logo %}
            <img
              src="{{ item.settings.logo | image_url: width: 160 }}"
              alt="{{ item.settings.titulo }}"
              width="80"
              height="40"
            >
          {% endif %}
        </a>
      </li>
    {% endfor %}
  </ul>

</div>
<style>
    .brand-nav-wrapper > .container{
      padding-left: 20px;
      padding-right: 20px;
    }
    .brand-nav.list-menu {
        padding: 0;
    }
    .brand-nav li{
        height: 100%;
        padding: 0 4px;
        display: inline-flex;
    }
    .brand-nav li:not(:first-child){
        border-left: 1px solid #F7F7F7;
    }
    .brand-nav li a{
        display: inline-block;
    }
    .brand-nav img{
        opacity: 1;
        transition: all 0.2s;
        max-width: 58px;
    }
    .brand-nav a:hover img{
        opacity: 1;
    }
    @media(min-width: 1025px){ 
      .brand-nav img{
          max-width: 70px;
      }
    }
</style>
{%- endif -%}

{% schema %}
{
  "name": "Brand Nav",
  "class": "brand-nav-section",
  "limit": 1,
  "enabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text"
    }
  ],
  "presets": [
    {
      "name": "Brand Nav"
    }
  ]
}
{% endschema %}
