
.header--middle-center a.header__heading-link{
    margin-top: 0;
    margin-bottom: 0;
}

.header__inline-menu .mega-menu__content{
    background: white;
}

.mega-menu__content .mega-menu__link--level-2{
    text-transform: none;
    font-size: 1.6rem;
    color: rgb(var(--color-heading));
    font-family: var(--font-heading-family);
    font-style: var(--font-heading-style);
    font-weight: var(--font-heading-weight);
}

@media(max-width: 1023px){
    .section-rich-text.horizontal-scroll .rich-text.container{
        padding-left: 0;
        padding-right: 0;
    }
    .section-rich-text.horizontal-scroll .rich-text .rich-text__text-image-heading {
        text-wrap: nowrap;
        overflow-x: scroll;
        padding-left: var(--fluid-offset, 24px);
        padding-right: var(--fluid-offset, 24px);
    }
    .section-rich-text.horizontal-scroll{
        
    }
}

@media (min-width: 1024px) {
    .lg\:justify-start{
        justify-content: flex-start;
    }
}

.template-page-landing-vizio a[href*="pqr"] {
  color: #ffffff;
}

.template-page-landing-keraton a[href*="pqr"] {
  color: #ffffff;
}

.template-page-landing-cpc a[href*="pqr"] {
  color: #ffffff;
}


/* ========================================
   AJUSTES PERSONALIZADOS MEICYS
   ======================================== */
   

/* ================================
   Ajuste logo SOLO en Keraton
================================ */

/* Logo Keraton en cualquier página */
a[href="/pages/keraton"] .header__heading-logo {
    transform: scale(1.3) translateY(2px);
}

@media (max-width: 768px) {
  a[href="/pages/keraton"] .header__heading-logo {
      transform: scale(1.1) translateY(3px);
  }
}

.additional-links-menu a {
  color: #000 !important;
}

/* Keraton */
body:has(a[href*="/pages/keraton"]) .additional-links-menu a {
  color: #fff !important;
}

/* CPC */
body:has(a[href*="/pages/cpc"]) .additional-links-menu a {
  color: #fff !important;
}

/* Vizio */
body:has(a[href*="/pages/vizio"]) .additional-links-menu a {
  color: #fff !important;
}

/* Tienda Keraton */
body:has(a[href*="/collections/tienda-keraton"]) .additional-links-menu a {
  color: #fff !important;
}

/* Tienda CPC */
body:has(a[href*="/collections/tienda-cpc"]) .additional-links-menu a {
  color: #fff !important;
}

/* Tienda Vizio */
body:has(a[href*="/collections/tienda-vizio"]) .additional-links-menu a {
  color: #fff !important;
}

.additional-links-menu a:hover {
  opacity: 0.85;
}

.template-product .price {
    margin: 12px 0 18px;
}

.template-product .price-item {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.2;
}

.brand-selector__link{
    display:flex;
    align-items:center;
    justify-content:center;
    position:relative;
    transition:all .25s ease;
    cursor:pointer;
}

.brand-selector__link::after{
    content:"";
    position:absolute;
    bottom:-8px;
    left:50%;
    width:0;
    height:2px;
    background:#D9277A;
    transform:translateX(-10%);
    transition:width .25s ease;
}

.brand-selector__link:hover{
    transform:translateY(-2px);
}

.brand-selector__link:hover::after{
    width:70%;
}