
.header--middle-center a.header__heading-link{
    margin-top: 0;
    margin-bottom: 0;
}

.header__inline-menu .mega-menu__content{
    background: white;
}

.mega-menu__content .mega-menu__link--level-2{
    text-transform: none;
    font-size: 1.6rem;
    color: rgb(var(--color-heading));
    font-family: var(--font-heading-family);
    font-style: var(--font-heading-style);
    font-weight: var(--font-heading-weight);
}

@media(max-width: 1023px){
    .section-rich-text.horizontal-scroll .rich-text.container{
        padding-left: 0;
        padding-right: 0;
    }
    .section-rich-text.horizontal-scroll .rich-text .rich-text__text-image-heading {
        text-wrap: nowrap;
        overflow-x: scroll;
        padding-left: var(--fluid-offset, 24px);
        padding-right: var(--fluid-offset, 24px);
    }
    .section-rich-text.horizontal-scroll{
        
    }
}

@media (min-width: 1024px) {
    .lg\:justify-start{
        justify-content: flex-start;
    }
}

.template-page-landing-vizio a[href*="pqr"] {
  color: #ffffff;
}

.template-page-landing-keraton a[href*="pqr"] {
  color: #ffffff;
}

.template-page-landing-cpc a[href*="pqr"] {
  color: #ffffff;
}

/* ===== VIZIO MENU FIX ===== */

/* Landing */
.template-page-landing-vizio a[href*="pqr"] {
  color: #ffffff;
}

/* Tienda */
.collection-vizio a[href*="pqr"],
.template-collection-vizio a[href*="pqr"] {
  color: #ffffff;
}
